VITE_DECAPBRIDGE_IS_SELFHOSTED="true"
VITE_DECAPBRIDGE_SITE_URL="https://auth.mycompany.com"
VITE_DECAPBRIDGE_SITE_NAME="My Company"
VITE_DECAPBRIDGE_SITE_LOGO="/favicon.svg"
VITE_DECAPBRIDGE_THEME_COLOR="#e22568"
VITE_DECAPBRIDGE_THEME_RADIUS="xl"