VITE_DECAPBRIDGE_SITE_URL="http://localhost:3000"
VITE_DECAPBRIDGE_API_URL="http://localhost:8055"
VITE_DECAPBRIDGE_GATEWAY_URL="http://localhost:8081"
VITE_DECAPBRIDGE_AUTH_PROVIDERS="google,microsoft"
VITE_DECAPBRIDGE_SITE_NAME="My Company"
VITE_DECAPBRIDGE_SITE_LOGO="/favicon.svg"
VITE_DECAPBRIDGE_THEME_COLOR="#e22568"
VITE_DECAPBRIDGE_THEME_RADIUS="xl"