.inner {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.content {
  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 900;
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-pink-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.indicator {
  background-color: var(--mantine-color-dimmed);
}
