.layout {
  /* Footer improvements part 1 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-content {
  /* Footer improvements part 2 */
  flex: 1;
  min-height: auto !important;

  /* Fix for the fade-up */
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
}
