.shortcut {
  font-size: 0.625rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
}
