.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-content {
  min-height: auto !important;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
}
